html {
    box-sizing: border-box;
    background-color: #e0e0e0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    background: #d0d1d2;
}

body>main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

button, select, a, .button, .input {
    padding: 0.3rem 0.5rem;
    border: 2px solid #cdab62;
    border-radius: 0.5rem;
    background-color: white;
    text-shadow: 2px 2px 5px rgb(190, 184, 172);

    transition: background-color 0.2s ease-out,
        box-shadow 0.2s ease-out;

    &:hover {
        background-color: #e3dbca;
        box-shadow: 0 0 6px #d9d5c2;
        border-color: #dec99c;
    }
}

.control-group {
    &>* {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: 0.75rem;
            border-bottom-left-radius: 0.75rem;
        }
        &:not(:last-child) {
            border-right: none;
        }
        &:not(:first-child) {
            border-left: none;
        }
        &:last-child {
            border-top-right-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;
        }
    }
}
.control-group-vertical {
    display: flex;
    flex-direction: column;
    &>* {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: 0.75rem;
            border-top-right-radius: 0.75rem;
        }
        &:not(:last-child) {
            border-bottom: none;
        }
        &:not(:first-child) {
            border-top: none;
        }
        &:last-child {
            border-bottom-left-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;
        }
    }
}

.outer-panel {
    border-radius: 0.75rem;
    background: #e0e2e4;
    box-shadow: 0 0 30px #8c8e8f;
    border: 2px solid #ecedee;
}

.inner-panel {
    border-radius: 0.75rem;
    background: #d0d2d4;
}

#modals {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}