.scene-tree {
    display: flex;
    max-width: 300px;
    flex-grow: 1;
    padding: 1rem;

    &__contents {

        &>div {
            display: flex;
            overflow: scroll;
        }

        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding: 0.5rem;
        &>* {
            margin-top: 0.75rem;
        }

        &>:first-child {
            margin-top: 0;
        }
    }
}
