.shape-node-tree {
    margin: 0.3rem;

    &__label {
        &--selected {
            background: rgba(0.1, 0.1, 0.1, 1);

            &:hover {
                background: rgba(0.3, 0.3, 0.3, 1);
            }
        }

        &:hover {
            background: rgba(0.2, 0.2, 0.2, 1);
        }
    }
}