.viewports {
    display: flex;
    flex: 1;
    padding: 1rem;
    max-height: 100%;
}

.main-view {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 100%;
}

.navbar {
    margin: 1rem;
    padding: 0.5rem;
}